# ignore doxygen generated data
html/
latex/

# ignore R history
.Rhistory
.RData
.Rproj.user
randomPlantedForest.Rproj
randomPlantedForest.Rcheck/
randomPlantedForest*.tar.gz
randomPlantedForest*.tgz
